nav {
    padding: 18px 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 130px;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 10px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input {
    padding-left: 8px;
    font-size: 14px;
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box input::placeholder {
    font-size: 14px;
}

.nav-middle .search-box img {
    width: 18px;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 900px) {
    .nav-right img {
        display: none;
    }
    .nav-right .user-icon {
        display: block;
        width: 36px;
        margin-right: 0;
    }
    .logo {
        width: 90px;
    }
    .nav-middle .search-box input {
        width: 300px;
    }
}

@media (max-width: 640px) {
    .menu-icon {
        display: none;
    }
    .nav-middle .search-box input {
        width: 200px;
    }
}